{%  extends "base.html" %}
{% block main_content %}
<main>
  <div class="container">
      <div class="row">
        <div class="col s12 offset-m2 m8 offset-l3 l6">
          <div class="login-card hoverable center-align">
            <div class="card-content">
              <form action="{% url 'excluir_conta' %}" method='POST'>
                {% csrf_token %}
                <p class="text">Deseja excluir sua conta?</p>

                <div class="col s12">
                    <div class="row">
                        <br><br>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">mode_edit</i>
                            <input id="password" name='password' type="password" class="validate">
                            <label for="password">Digite aqui sua senha</label>
                        </div>
                    </div>
                </div>
                {% if messages %}
                  <ul class="messages">
                    {% for message in messages %}
                      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
                <div>
                    <button class="btn waves-effect waves-light saap-dark-green" type="submit'">Enviar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</main>
{% endblock main_content %}
