{% block header %}

  <!-- <nav>
    <div class="nav-wrapper saap-dark-green">
        <img src="../static/images/brasao-da-republica-dark-green.png" height="64" class="responsive-image" width="64">
        <a href="/">
        <img src="../static/images/logov1.png" height="64" class="brand-logo responsive-image center">
        </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Página Inicial</a></li>
        <li><a href="#">Sobre a Câmara</a></li>
        <li><a href="#">Vereadores</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
      </ul>
    </div>
  </nav> -->

<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="{% url 'ticket' %}"> Ticket </a></li>
  <li><a href="{% url 'mudar_senha' %}">Mudar Senha</a></li>
  <li class="divider"></li>
  <li><a href="{% url 'logout' %}"> Logout </a></li>
</ul>

<nav>
  <div class="nav-wrapper saap-dark-green">
    <img src="../static/images/brasao-da-republica-dark-green.png" height="64" class="responsive-image" width="64">
    <a href="/">
    <img src="../static/images/logov1.png" height="64" class="brand-logo responsive-image center">
    </a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Página Inicial</a></li>
      <li><a href="#">Sobre a Câmara</a></li>
      <li><a href="#">Vereadores</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button saap-dark-green" href="#!" data-activates="dropdown1"><i class="material-icons right saap-dark-green">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>


{% endblock %}
